model_config_list: {
	config: {
		name: "neural_network_model_name",
		base_path: "/models/neural_network_model_name",
		model_platform: "tensorflow"
		model_version_policy: {
			versions: 42
    		versions: 43
		}
		version_labels {
			key: 'stable'
			value: 42
		}
		version_labels {
			key: 'canary'
			value: 43
		}
	}
}